# 백준 2441 별 찍기-4

In [2]:
n = int(input())

for i in range(1, n+1):
    print(" "*(i-1) + "*"*(n-i+1))

*****
 ****
  ***
   **
    *

# 백준 1085 직사각형에서 탈출

In [5]:
x, y, w, h = map(int, input().split())

print(min(min(x, w-x), min(y, h-y)))

347

# 백준 4153 직각삼각형

In [5]:
while True:
        a = list(map(int, input().split()))
        max_num = max(a)
        if sum(a) == 0:
                break
        a.remove(max_num)
        if a[0] ** 2 + a[1] ** 2 == max_num ** 2:
                print('right')
        else:
                print('wrong')

right
wrong

# 백준 2442 별찍기 - 5

In [4]:
n = int(input())

for _ in range(1, n+1):
    print(" "*(n-_) + "*"*((2*_)-1))

    *
   ***
  *****
 *******
*********

# 백준 2446 별찍기 - 9

In [7]:
n = int(input())

for _ in range(n, 1, -1):
    print(" "*(n-_) + "*"*((2*_)-1))

for _ in range(1, n+1):
    print(" "*(n-_) + "*"*((2*_)-1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

# 백준 3009 네 번째 점

In [22]:
x_nums = []
y_nums = []
for _ in range(3):
    x, y = map(int, input().split())
    x_nums.append(x)
    y_nums.append(y)

for i in range(3):
    if x_nums.count(x_nums[i]) == 1:
        x4 = x_nums[i]
    if y_nums.count(y_nums[i]) == 1:
        y4 = y_nums[i]
print(x4, y4)

7 7

# 백준 2445 별찍기 - 8

In [1]:
n=int(input())

for i in range(1, n+1):
    print('*' * i + ' ' * (n - i) + ' ' * (n - i) + '*' * i)
for i in range(n-1, 0, -1):
    print('*' * i + ' ' * (n - i) + ' ' * (n - i) + '*' * i)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

# 백준 2444 별찍기 - 7

In [1]:
n = int(input())
for i in range(1, n):
    print(' '*(n-i) + '*'*(2*i-1))
for i in range(n, 0, -1):
    print(' '*(n-i) + '*'*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# 백준 2443 별찍기 - 6

In [2]:
n = int(input())

for i in range(n, 0, -1):
    print(' '*(n-i) + '*'*(2*i-1))

*********
 *******
  *****
   ***
    *

# 백준 2523 별찍기 - 13

In [1]:
n = int(input())

for _ in range(1, n+1):
    print("*"*_)
for _ in range(n-1, 0, -1):
    print("*"*_)

*
**
***
****
*****
****
***
**
*

# 백준 2490 윷놀이

In [2]:
for _ in range(0,3):
    temp = list(map(int, input().split()))
    
    r = temp.count(0)
    
    if r==0: print("E")
    elif r==1: print("A")
    elif r==2: print("B")
    elif r==3: print("C")
    elif r==4: print("D")

B
A
B

# 백준 2522 별찍기 - 12

In [6]:
n = int(input())

for _ in range(n-1, 0, -1):
    print(" "*_ + "*"*(n-_))
for _ in range(0, n):
    print(" "*_ + "*"*(n-_))

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *