# 백준 solved.ac BRONZE 5 문제 풀이

## 백준 2845 파티가 끝나고 난 뒤

In [25]:
l, p = map(int, input().split())
arr = input()

arr = arr.split()

for _ in arr:
    print(int(_)-l*p, end=" ")

-1 1 900 -100 -3

## 백준 9653 스타워즈

In [1]:
print("    8888888888  888    88888")
print("   88     88   88 88   88  88")
print("    8888  88  88   88  88888")
print("       88 88 888888888 88   88")
print("88888888  88 88     88 88    888888")
print("")
print("88  88  88   888    88888    888888")
print("88  88  88  88 88   88  88  88")
print("88 8888 88 88   88  88888    8888")
print(" 888  888 888888888 88  88      88")
print("  88  88  88     88 88   88888888")

    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888

## 백준 3003 킹, 퀸, 룩, 비숍, 나이트, 폰

In [14]:
piece = {"king":1, "queen":1, "rook":2, "bishop":2, "knight":2, "pawn": 8}

k, q, r, b, kn, p = map(int, input().split())

print(piece["king"]-k, piece["queen"]-q, piece["rook"]-r, piece["bishop"]-b, piece["knight"]-kn, piece["pawn"]-p)

-1 0 0 1 0 7

## 백준 5339 콜센터

In [4]:
print("     /~\\")
print("    ( oo|")
print("    _\=/_")
print("   /  _  \\")
print("  //|/.\|\\\\")
print(" ||  \ /  ||")
print("============")
print("|          |")
print("|          |")
print("|          |")

     /~\
    ( oo|
    _\=/_
   /  _  \
  //|/.\|\\
 ||  \ /  ||
============
|          |
|          |
|          |

## 백준 1271 엄청난 부자2

In [5]:
n, m = map(int, input().split())
print(n//m)
print(n%m)

10
0

## 백준 5554 심부름 가는 길

In [7]:
hTs = int(input()) # 집 -> 학교
sTp = int(input()) # 학교 -> pc방
pTa = int(input()) # pc방 -> 학원
aTh = int(input()) # 학원 -> 집

total = hTs + sTp + pTa + aTh

print(total//60)
print(total%60)

44
2

## 백준 5522 카드 게임

In [9]:
total = 0

for _ in range(5):
    total += int(input())

print(total)

210

## 백준 9654 나부 함대 데이터

In [10]:
print("SHIP NAME      CLASS          DEPLOYMENT IN SERVICE")
print("N2 Bomber      Heavy Fighter  Limited    21        ")
print("J-Type 327     Light Combat   Unlimited  1         ")
print("NX Cruiser     Medium Fighter Limited    18        ")
print("N1 Starfighter Medium Fighter Unlimited  25        ")
print("Royal Cruiser  Light Combat   Limited    4         ")

SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21
J-Type 327     Light Combat   Unlimited  1
NX Cruiser     Medium Fighter Limited    18
N1 Starfighter Medium Fighter Unlimited  25
Royal Cruiser  Light Combat   Limited    4

## 백준 10170 NFC West vs North

In [11]:
print("NFC West       W   L  T")
print("-----------------------")
print("Seattle        13  3  0")
print("San Francisco  12  4  0")
print("Arizona        10  6  0")
print("St. Louis      7   9  0")
print("")
print("NFC North      W   L  T")
print("-----------------------")
print("Green Bay      8   7  1")
print("Chicago        8   8  0")
print("Detroit        7   9  0")
print("Minnesota      5  10  1")

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

## 백준 2338 긴자리 계산

In [13]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

0
2
-1

## 백준 14645 와이버스 부릉부릉

In [14]:
n, k = map(int, input().split())
print("비와이")

비와이

## 백준 16394 홍익대학교

In [15]:
n = int(input())
print(n-1946)

72

## 백준 15894 수학은 체육과목 입니다

In [20]:
n = int(input())

print(n*4)

20

# 백준 16430 제리와 톰

In [1]:
a, b = map(int, input().split())
print(b-a, b)

5 7

# 백준 15964 이상한 기호

In [2]:
a, b = map(int, input().split())
print((a+b)*(a-b))

7

# 백준 15727 조별과제를 하려는데 조장이 사라졌다

In [5]:
n = int(input())
if n%5==0:
    print(n//5)
else:
    print(int(n/5)+1)

3

# 백준 14652 나는 행복합니다~

In [1]:
N, M, K = map(int, input().split())
n = K // M
m = K % M
print(n, m)

1 2

# 백준 20492 세금

In [6]:
n = int(input())
print(int(n*0.78), int(n-n*0.2*0.22))

780 956

# 백준 17256 달달함이 넘쳐흘러

In [10]:
ax, ay, az = map(int, input().split())
cx, cy, cz = map(int, input().split())

bx = int(cx-az)
by = int(cy/ay)
bz = int(cz-ax)

print(bx, by, bz)

7 1 7

# 백준 17496 스타후르츠

In [12]:
N, T, C, P = map(int, input().split())
print((N-1)//T*C*P)

1500000

# 백준 14928 큰 수 (BIG)

In [14]:
n = int(input())
print(n%20000303)

1313652

# 백준 11283 한글2

In [15]:
print(ord(input())-44031)

1

# 백준 24262 알고리즘 수업 - 알고리즘의 수행 시간 1

In [18]:
n = int(input())
print(1)
print(0)

1
0

# 백준 10872 팩토리얼

In [2]:
n = int(input())

if n==0:
    print(1)
else:
    s = 1
    for _ in range(1, n+1):
        s *= _
    print(s)

3628800

# 백준 10870 피보나치 수 5

In [4]:
n = int(input())

def fibo(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
    
print(fibo(n))

55

# 백준 2743 단어 길이 재기

In [5]:
n = input()

print(len(n))

8

# 백준 10807 개수 세기

In [14]:
n = int(input())
seq = list(map(int, input().split()))
idx = int(input())

print(seq.count(idx))

0

# 백준 4101 크냐?

In [15]:
while 1:
    n1, n2 = map(int, input().split())
    if n1==0 and n2==0:
        break
    else:
        if n1>n2:
            print("Yes")
        else:
            print("No")

No
No
Yes

# 백준 5597 과제 안 내신 분..?

In [26]:
total = [x for x in range(1, 31)]
submit = []

for _ in range(28):
    submit.append(int(input()))
    
result = sorted(list(set(total)-set(submit)))
print(result[0])
print(result[1])

8
2

# 백준 2744 대소문자 바꾸기

In [27]:
n = input()

for _ in n:
    if _.isupper():
        print(_.lower(), end="")
    else:
        print(_.upper(), end="")

wRONGaNSWER

# 백준 2754 학점 계산

In [29]:
score = {'A+': 4.3, 'A0': 4.0, 'A-': 3.7, 'B+': 3.3, 'B0': 3.0, 'B-': 2.7, 'C+': 2.3, 'C0': 2.0, 'C-': 1.7, 'D+': 1.3, 'D0': 1.0, 'D-': 0.7, 'F': 0.0}
s = input()
print(score[s])

4.0

# 백준 4999 아!

In [30]:
n1 = input()
n2 = input()

if len(n1)>=len(n2):
    print("go")
else:
    print("no")

no

# 백준 9086 문자열

In [32]:
n = int(input())

for _ in range(n):
    s = input()
    print(s[0], s[-1], sep="")

AD
OO
AB

# 백준 2738 행렬 덧셈

In [48]:
n, m = map(int, input().split())
a = []

for _ in range(n):
    a.append(list(map(int, input().split())))

for _ in range(n):
    temp = list(map(int, input().split()))
    for idx in range(m):
        a[_][idx] += temp[idx]

for i in range(n):
    for j in range(m):
        print(a[i][j], end=" ")
    print()

4 4 4
6 6 6
5 6 100

# 백준 23037 5의 수난

In [2]:
n = input()
s = 0
for _ in range(5):
    s += pow(int(n[_]), 5)
    
print(s)

54748